:root {
  /* Font Size */
  --font-navmenus: 1.5rem;
  --font-navbartitle: 2rem;
  --font-title: 5rem;
  --font-title-alpha: 8rem;
  --font-bgtitle: 3rem;
  --font-describe: 1rem;

  /* Font Family */
  --font-family-navmenus: "Krona One", sans-serif;
  --font-family-title: "Orelega One", cursive;
  --font-family-homehead: "Yeon Sung", cursive;
  --font-family-describe: "Sunflower", sans-serif;
  --font-family-alpha: "Lobster", cursive;
  --font-family-backtitle: "Fugaz One", cursive;

  /* Font Weight */

  /* transition option*/
  --trans--bgtitle: all ease-out 500ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

container {
  display: block;
}

ul {
  list-style: none;
}

/*<a> tag text decoration edit*/
a.navbar__menus__a {
  text-decoration: none;
  color: whitesmoke;
  padding: 0.3rem;
}

.fadein-ani {
  animation: fadein 2000ms forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Navbar section */

.navbar {
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: cadetblue;
  color: aliceblue;
  transition: ease-in 500ms;
}

.navbar__title {
  text-align: center;
  font-size: var(--font-navbartitle);
  font-family: var(--font-family-title);
}

.nav__logo {
  display: inline-block;
  margin-left: 0.3em;
  font-size: 1.5rem;
}

.nav__logo:hover {
  color: darkorange;
}

.nav__menu {
  width: 40em;
}

.navbar__menus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: var(--font-navmenus);
  font-family: var(--font-family-navmenus);
}

.navbar__menus__item {
  box-sizing: border-box;
}

.navbar__menus__a:hover {
  color: darkorange;
  background-color: floralwhite;
}

.navbar__menus__divider {
  width: 0.15rem;
  height: 1.5rem;
  background-color: rgb(206, 207, 218);
}
